
AudioKit.framework/_CodeSignature/CodeDirectory
AudioKit.framework/_CodeSignature/CodeRequirements
AudioKit.framework/_CodeSignature/CodeRequirements-1
AudioKit.framework/_CodeSignature/CodeResources
AudioKit.framework/_CodeSignature/CodeSignature
AudioKit.framework/AudioKit
AudioKit.framework/Headers/AKAmplitudeEnvelopeDSP.hpp
AudioKit.framework/Headers/AKAmplitudeTrackerAudioUnit.h
AudioKit.framework/Headers/AKAudioUnit.h
AudioKit.framework/Headers/AKAudioUnitBase.h
AudioKit.framework/Headers/AKAutoPannerDSP.hpp
AudioKit.framework/Headers/AKAutoWahDSP.hpp
AudioKit.framework/Headers/AKBalancerAudioUnit.h
AudioKit.framework/Headers/AKBandPassButterworthFilterDSP.hpp
AudioKit.framework/Headers/AKBandRejectButterworthFilterDSP.hpp
AudioKit.framework/Headers/AKBankAudioUnit.h
AudioKit.framework/Headers/AKBankDSPKernel.hpp
AudioKit.framework/Headers/AKBitCrusherDSP.hpp
AudioKit.framework/Headers/AKBoosterDSP.hpp
AudioKit.framework/Headers/AKBrownianNoiseDSP.hpp
AudioKit.framework/Headers/AKCallbackInstrumentAudioUnit.h
AudioKit.framework/Headers/AKChowningReverbDSP.hpp
AudioKit.framework/Headers/AKClarinetDSP.hpp
AudioKit.framework/Headers/AKClipperDSP.hpp
AudioKit.framework/Headers/AKCombFilterReverbDSP.hpp
AudioKit.framework/Headers/AKConvolutionDSP.hpp
AudioKit.framework/Headers/AKCoreSampler.hpp
AudioKit.framework/Headers/AKCoreSynth.hpp
AudioKit.framework/Headers/AKCostelloReverbDSP.hpp
AudioKit.framework/Headers/AKDCBlockDSP.hpp
AudioKit.framework/Headers/AKDiskStreamerAudioUnit.h
AudioKit.framework/Headers/AKDripDSP.hpp
AudioKit.framework/Headers/AKDSPBase.hpp
AudioKit.framework/Headers/AKDSPKernel.hpp
AudioKit.framework/Headers/AKDynamicRangeCompressorDSP.hpp
AudioKit.framework/Headers/AKDynaRageCompressorAudioUnit.h
AudioKit.framework/Headers/AKDynaRageCompressorDSPKernel.hpp
AudioKit.framework/Headers/AKEqualizerFilterDSP.hpp
AudioKit.framework/Headers/AKExponentialParameterRamp.hpp
AudioKit.framework/Headers/AKFlatFrequencyResponseReverbDSP.hpp
AudioKit.framework/Headers/AKFluteDSP.hpp
AudioKit.framework/Headers/AKFMOscillatorBankAudioUnit.h
AudioKit.framework/Headers/AKFMOscillatorDSP.hpp
AudioKit.framework/Headers/AKFormantFilterDSP.hpp
AudioKit.framework/Headers/AKFrequencyTrackerAudioUnit.h
AudioKit.framework/Headers/AKGeneratorAudioUnitBase.h
AudioKit.framework/Headers/AKHighPassButterworthFilterDSP.hpp
AudioKit.framework/Headers/AKHighShelfParametricEqualizerFilterDSP.hpp
AudioKit.framework/Headers/AKInterop.h
AudioKit.framework/Headers/AKKorgLowPassFilterDSP.hpp
AudioKit.framework/Headers/AKLazyTap.h
AudioKit.framework/Headers/AKLinearParameterRamp.hpp
AudioKit.framework/Headers/AKLowPassButterworthFilterDSP.hpp
AudioKit.framework/Headers/AKLowShelfParametricEqualizerFilterDSP.hpp
AudioKit.framework/Headers/AKMandolinAudioUnit.h
AudioKit.framework/Headers/AKMetalBarDSP.hpp
AudioKit.framework/Headers/AKMicrophoneTrackerEngine.h
AudioKit.framework/Headers/AKModalResonanceFilterDSP.hpp
AudioKit.framework/Headers/AKModulatedDelay.hpp
AudioKit.framework/Headers/AKModulatedDelay_Typedefs.h
AudioKit.framework/Headers/AKModulatedDelayDSP.hpp
AudioKit.framework/Headers/AKMoogLadderDSP.hpp
AudioKit.framework/Headers/AKMorphingOscillatorBankAudioUnit.h
AudioKit.framework/Headers/AKMorphingOscillatorDSP.hpp
AudioKit.framework/Headers/AKOfflineRenderAudioUnit.h
AudioKit.framework/Headers/AKOperationEffectAudioUnit.h
AudioKit.framework/Headers/AKOperationGeneratorAudioUnit.h
AudioKit.framework/Headers/AKOscillatorBankAudioUnit.h
AudioKit.framework/Headers/AKOscillatorDSP.hpp
AudioKit.framework/Headers/AKPannerDSP.hpp
AudioKit.framework/Headers/AKParameterRamp.hpp
AudioKit.framework/Headers/AKParameterRampBase.hpp
AudioKit.framework/Headers/AKPeakingParametricEqualizerFilterDSP.hpp
AudioKit.framework/Headers/AKPhaseDistortionOscillatorBankAudioUnit.h
AudioKit.framework/Headers/AKPhaseDistortionOscillatorDSP.hpp
AudioKit.framework/Headers/AKPhaseLockedVocoderDSP.hpp
AudioKit.framework/Headers/AKPhaserDSP.hpp
AudioKit.framework/Headers/AKPinkNoiseDSP.hpp
AudioKit.framework/Headers/AKPitchShifterDSP.hpp
AudioKit.framework/Headers/AKPluckedStringDSP.hpp
AudioKit.framework/Headers/AKPresetManager.h
AudioKit.framework/Headers/AKPWMOscillatorBankAudioUnit.h
AudioKit.framework/Headers/AKPWMOscillatorDSP.hpp
AudioKit.framework/Headers/AKRenderTap.h
AudioKit.framework/Headers/AKResonantFilterDSP.hpp
AudioKit.framework/Headers/AKRhinoGuitarProcessorAudioUnit.h
AudioKit.framework/Headers/AKRhinoGuitarProcessorDSPKernel.hpp
AudioKit.framework/Headers/AKRhodesPianoDSP.hpp
AudioKit.framework/Headers/AKRolandTB303FilterDSP.hpp
AudioKit.framework/Headers/AKSampler_Typedefs.h
AudioKit.framework/Headers/AKSamplerDSP.hpp
AudioKit.framework/Headers/AKSamplerMetronome.h
AudioKit.framework/Headers/AKShakerDSP.hpp
AudioKit.framework/Headers/AKSoundpipeDSPBase.hpp
AudioKit.framework/Headers/AKSoundpipeKernel.hpp
AudioKit.framework/Headers/AKSporthStack.h
AudioKit.framework/Headers/AKStereoDelayDSP.hpp
AudioKit.framework/Headers/AKStereoFieldLimiterDSP.hpp
AudioKit.framework/Headers/AKStringResonatorDSP.hpp
AudioKit.framework/Headers/AKSynthDSP.hpp
AudioKit.framework/Headers/AKTanhDistortionDSP.hpp
AudioKit.framework/Headers/AKTesterAudioUnit.h
AudioKit.framework/Headers/AKThreePoleLowpassFilterDSP.hpp
AudioKit.framework/Headers/AKTimeline.h
AudioKit.framework/Headers/AKTimelineTap.h
AudioKit.framework/Headers/AKToneComplementFilterDSP.hpp
AudioKit.framework/Headers/AKToneFilterDSP.hpp
AudioKit.framework/Headers/AKTremoloDSP.hpp
AudioKit.framework/Headers/AKTubularBellsDSP.hpp
AudioKit.framework/Headers/AKVariableDelayDSP.hpp
AudioKit.framework/Headers/AKVocalTractDSP.hpp
AudioKit.framework/Headers/AKWaveTableAudioUnit.h
AudioKit.framework/Headers/AKWhiteNoiseDSP.hpp
AudioKit.framework/Headers/AKZitaReverbDSP.hpp
AudioKit.framework/Headers/AudioEngineUnit.h
AudioKit.framework/Headers/AudioKit-Swift.h
AudioKit.framework/Headers/AudioKit.h
AudioKit.framework/Headers/BufferedAudioBus.hpp
AudioKit.framework/Headers/BufferedAudioUnit.h
AudioKit.framework/Headers/dr_wav.h
AudioKit.framework/Headers/DSPKernel.hpp
AudioKit.framework/Headers/ExceptionCatcher.h
AudioKit.framework/Headers/EZAudio.h
AudioKit.framework/Headers/EZAudioDevice.h
AudioKit.framework/Headers/EZAudioFFT.h
AudioKit.framework/Headers/EZAudioFile.h
AudioKit.framework/Headers/EZAudioFileMarker.h
AudioKit.framework/Headers/EZAudioFloatConverter.h
AudioKit.framework/Headers/EZAudioFloatData.h
AudioKit.framework/Headers/EZAudioPlayer.h
AudioKit.framework/Headers/EZAudioUtilities.h
AudioKit.framework/Headers/EZMicrophone.h
AudioKit.framework/Headers/EZOutput.h
AudioKit.framework/Headers/EZRecorder.h
AudioKit.framework/Headers/ParameterRamper.hpp
AudioKit.framework/Headers/soundpipe.h
AudioKit.framework/Headers/TPCircularBuffer+AudioBufferList.h
AudioKit.framework/Headers/TPCircularBuffer+Unit.h
AudioKit.framework/Headers/TPCircularBuffer.h
AudioKit.framework/Headers/vocwrapper.h
AudioKit.framework/Info.plist
AudioKit.framework/Modules/AudioKit.swiftmodule/arm.swiftdoc
AudioKit.framework/Modules/AudioKit.swiftmodule/arm.swiftmodule
AudioKit.framework/Modules/AudioKit.swiftmodule/arm64.swiftdoc
AudioKit.framework/Modules/AudioKit.swiftmodule/arm64.swiftmodule
AudioKit.framework/Modules/AudioKit.swiftmodule/armv7.swiftdoc
AudioKit.framework/Modules/AudioKit.swiftmodule/armv7.swiftmodule
AudioKit.framework/Modules/AudioKit.swiftmodule/i386.swiftdoc
AudioKit.framework/Modules/AudioKit.swiftmodule/i386.swiftmodule
AudioKit.framework/Modules/AudioKit.swiftmodule/x86_64.swiftdoc
AudioKit.framework/Modules/AudioKit.swiftmodule/x86_64.swiftmodule
AudioKit.framework/Modules/module.modulemap
AudioKitUI.framework/_CodeSignature/CodeDirectory
AudioKitUI.framework/_CodeSignature/CodeRequirements
AudioKitUI.framework/_CodeSignature/CodeRequirements-1
AudioKitUI.framework/_CodeSignature/CodeResources
AudioKitUI.framework/_CodeSignature/CodeSignature
AudioKitUI.framework/AudioKitUI
AudioKitUI.framework/Headers/AudioKitUI-Swift.h
AudioKitUI.framework/Headers/AudioKitUI.h
AudioKitUI.framework/Headers/EZAudioDisplayLink.h
AudioKitUI.framework/Headers/EZAudioPlot.h
AudioKitUI.framework/Headers/EZAudioPlotGL.h
AudioKitUI.framework/Headers/EZPlot.h
AudioKitUI.framework/Info.plist
AudioKitUI.framework/Modules/AudioKitUI.swiftmodule/arm.swiftdoc
AudioKitUI.framework/Modules/AudioKitUI.swiftmodule/arm.swiftmodule
AudioKitUI.framework/Modules/AudioKitUI.swiftmodule/arm64.swiftdoc
AudioKitUI.framework/Modules/AudioKitUI.swiftmodule/arm64.swiftmodule
AudioKitUI.framework/Modules/AudioKitUI.swiftmodule/armv7.swiftdoc
AudioKitUI.framework/Modules/AudioKitUI.swiftmodule/armv7.swiftmodule
AudioKitUI.framework/Modules/AudioKitUI.swiftmodule/i386.swiftdoc
AudioKitUI.framework/Modules/AudioKitUI.swiftmodule/i386.swiftmodule
AudioKitUI.framework/Modules/AudioKitUI.swiftmodule/x86_64.swiftdoc
AudioKitUI.framework/Modules/AudioKitUI.swiftmodule/x86_64.swiftmodule
AudioKitUI.framework/Modules/module.modulemap
circlesAppIcon.jpg
Graphics/icons.drawio.xml
Graphics/icons_blueOrb.png
Graphics/icons_close.png
Graphics/icons_control.png
Graphics/icons_help.png
Graphics/icons_purpleOrb.png
Graphics/icons_redOrb.png
